$call-link:#FF3E79;
$background-color-body:#F8F8F8;
$background-color-menu:#fff;
$menu-shadow:#0E185033;
$menu-link-focus:#7E7E82;
$link-before:#41F6D7;
$border:#D9FFF5;
$el-after:#EAEAEA;
$color-text:#1B1C21;
$link-border:#B8FFEC;
$paginator-bullet:#DDD;
$paginator-focus:#B5B6BC; 