@import 'color';
html,body{
    font-family: "TT Lakes",sans-serif;
    color:$color-text;
    background-color:$background-color-body;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.container-page{
    @media(min-width:1440px){
        margin-left: 320px;
    } 
    .container,.container2 {
    width:100%;

    }
}

